@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 80ch;
}

hr {
  width: 100%;
}

@font-face {
  font-family: "clue";
  src: url('../public/fonts/Clue-Korinna-Regular.woff2') format("woff2");
  src: url('../public/fonts/Clue-Korinna-Regular.woff') format("woff");
}
@font-face {
  font-family: "category";
  src: url('../public/fonts/Cat-Swiss921-BT.woff2') format("woff2");
  src: url('../public/fonts/Cat-Swiss921-BT.woff') format("woff");
}
@font-face {
  font-family: "dollar";
  src: url('../public/fonts/Dollar-swiss911-uc.woff2') format("woff2");
  src: url(../public/fonts/Dollar-swiss911-uc.woff) format("woff");
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(9, 28, 41);
  border-radius: 14px;
  border: 0px solid black;
}