@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
.background {
  width:100%;
}
main {
  
  padding: 1rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 80ch;
}

hr {
  width: 100%;
}

@font-face {
  font-family: "clue";
  src: url('../public/fonts/Clue-Korinna-Regular.woff2') format("woff2");
  src: url('../public/fonts/Clue-Korinna-Regular.woff') format("woff");
}
@font-face {
  font-family: "category";
  src: url('../public/fonts/Cat-Swiss921-BT.woff2') format("woff2");
  src: url('../public/fonts/Cat-Swiss921-BT.woff') format("woff");
}
@font-face {
  font-family: "dollar";
  src: url('../public/fonts/Dollar-swiss911-uc.woff2') format("woff2");
  src: url(../public/fonts/Dollar-swiss911-uc.woff) format("woff");
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(9, 28, 41);
  border-radius: 14px;
  border: 0px solid black;
}
/* styles.css */

.slide-left {
  @apply transform;
  animation: slide-left 0.3s ease-in-out forwards;
}

.slide-right {
  @apply transform;
  animation: slide-right 0.3s ease-in-out forwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.fade {
  @apply opacity-0;
  animation: fade 0.3s ease-in-out forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
